/* Import the fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .2s ease-out;
  text-decoration: none;
}

.body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.desktop {
  background-color: #f9fdff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.desktop .div {
  background-color: #f9fdff;
  overflow: hidden;
  width: 1440px;
  height: 4527px;
  position: relative;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-web {
  font-size: 2.5rem;
}

.navbar a {
  margin-right: 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease-out;
}

.navbar a:hover {
  color: #007BFF;
}


.text-wrapper-37 a {
  text-decoration: none;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}

.text-wrapper-37 a:hover {
  background-color: #0056b3;
}

.wellcome-text {
  margin-top: 100px;
  text-align: center;
  padding: 1rem;
}

.wellcome-text h2 {
  font-weight: 400;
}

.wellcome-text h1 {
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 20px;
}

.padding-book-button {
  display: inline-block;
  background-color: #007BFF;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  font-size: 1.4rem;
  max-width: 200px;
  margin-top: 20px;
  text-decoration: none;
}

.padding-book-button:hover {
  background-color: #0056b3;
}

.about-us {
  background-color: #fff;
  padding: 2rem;
  text-align: center;
  margin-top: 10px
}

.about-us h3 {
  color: #0056b3;
}

.about-us h2 {
  font-size: x-large;
}

.welcome-to-talkspace {
  font-size: 1.6rem;
  color: #333;
  line-height: 1.5;
  margin-top: 1rem;
}

.sosmed-main {
  margin-top: 2rem;
}

.sosmed-main img {
  width: 100px;
  /* Adjust the size as needed */
  margin-right: 20px;
}

.main {
  background-color: #f9fdff;
  padding: 2rem;
  text-align: center;
}


.booking-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40%;
  background-color: #dbe7ff;
  border-radius: 26px;
  padding: 2rem;
  width: 100%;
  max-width: 1145px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}


.submit-button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  font-size: 1.6rem;
}

.submit-button:hover {
  background-color: #0056b3;
}

.text-wrapper-16,
.text-wrapper-17 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 1rem;
}

.text-field {
  position: relative;
  width: 250px;
  margin-bottom: 1rem;
}

.text-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  background: #ffffff;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.5s;
}

.text-field span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.text-field input:valid~span,
.text-field input:focus~span {
  color: #007BFF;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #dbe7ff;
  border-left: 1px solid #007BFF;
  border-right: 1px solid #007BFF;
  letter-spacing: 0.2em;
}

.text-field:nth-child(2) input:valid~span,
.text-field:nth-child(2) input:focus~span {
  background: #007BFF;
  color: #1d2b3a;
  border-radius: 2px;
}

.text-field input:valid,
.text-field input:focus {
  border: 1px solid #007BFF;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  padding: 2rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo-web {
  font-size: 2.5rem;
  margin-right: 20px;
}

.footer-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.footer-menu li {
  margin-right: 20px;
}

.footer-menu a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease-out;
}

.footer-menu a:hover {
  color: #007BFF;
}

.footer-description {
  flex: 1;
  margin: 1rem;
}